body.index {
  background-color: #0a0a0a;
  color: #dadada;
  font-family: "Inter";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
body.index h1 {
  font-size: 3.5rem;
}
body.index .text-console {
  color: #515151;
}
body.index .text-console::after {
  content: "|";
  -webkit-animation: blink ease 1s infinite;
          animation: blink ease 1s infinite;
}
@-webkit-keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}