$black: #0A0A0A;
$black2: #1E1E1E;
$black-hov: #141414;
$white: #DADADA;
$white-hov: #868686;
$grey: #515151;
$green: #CBFB45;

body.admin {
    background-color: $black;
    color: $white;
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}