body.index {
   background-color: var(--black);
   color: var(--white);
   font-family: 'Inter', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;

   .console {
      color: var(--white);
      font-size: 3.5rem;

      // &:hover {
      //    color: var(--siren);
      // }

      &::after {
         content: '|';
         animation: blink ease 1s infinite;
      }
   }

   @keyframes blink {
      100% {
         opacity: 0;
      }
      50% {
         opacity: 1;
      }
   }
}
