body.index {
    background-color: blueviolet;

    & h1 {
        font-family: Helvetica;
        padding-top: 10%;
        padding-left: 35%;
        font-family: Helvetica;
        color: black;
        font-weight: 200;
        font-size: 2rem;
    }
}