body.index {
   background-color: var(--black);
   color: var(--white);
   font-family: 'Inter', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;

   .console {
      color: var(--white);
      font-size: 3.5rem;

      &::after {
         content: '|';
         animation: blink ease 1s infinite;
      }
   }

   #no-mobile {
      color: var(--white);
      padding-top: 5vw;
      margin: 15vw auto;
      font-size: clamp(1.5rem, 2vw, 2rem);
      font-weight: 400;
      text-align: center;
      max-width: 90%;
   }

   #screencast {
      max-width: 90%;
      margin: 0 auto;
      display: block;
      // border: 1px solid white;
   }

   @keyframes blink {
      100% {
         opacity: 0;
      }
      50% {
         opacity: 1;
      }
   }
}
