body.machine {
   background-color: var(--black);
   color: var(--white);
   font-family: 'Inter';
   height: 100%;
   margin: 0px;
   overflow: hidden;

   .desktop {
      margin: 3vw 0 0 1vw;
      width: 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3vw;

      img {
         width: 80%;
      }
   }

   // multiple page

   .image {
      width: 40vmin;
      position: absolute;
      transform: translate(-50%, -50%);

      &[data-status='inactive'] {
         display: none;
      }

      &[data-status='active'] {
         display: block;
      }
   }

   // shift page

   #virus {
      position: fixed;
      width: 35vw;
      top: 250px;
      left: 250px;
      transition: top 0.5s, left 0.5s;

      &.move {
         top: 300px;
         left: 900px;
      }
      &.move2 {
         top: 100px;
         left: 150px;
      }

      &.move3 {
         top: 100px;
         left: 1000px;
      }
      &.move4 {
         top: 300px;
         left: 300px;
      }
      &.move5 {
         top: 200px;
         left: 800px;
      }
   }

   //stick page

   #miner {
      position: absolute;
      width: 25vw;
      animation: appear 1s ease, shake 0.25s ease infinite, cursor 2.5s ease infinite;
   }

   #miner-fix,
   #virus-fix,
   #explorer-fix {
      // display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   @keyframes appear {
      0% {
         opacity: 0;
      }
      75% {
         opacity: 0;
      }
      100% {
         opacity: 1;
      }
   }

   @keyframes shake {
      0% {
         transform: translate(0, 0);
      }
      25% {
         transform: translate(-10px, -10px);
      }
      50% {
         transform: translate(10px, 10px);
      }
      75% {
         transform: translate(-5px, -5px);
      }
      100% {
         transform: translate(0, 0);
      }
   }
   @keyframes cursor {
      0% {
         cursor: none;
      }
      25% {
         cursor: text;
      }
      50% {
         cursor: s-resize;
      }
      75% {
         cursor: pointer;
      }
      100% {
         cursor: wait;
      }
   }

   // buttons panel

   #dashboard,
   #next-machine {
      i {
         color: var(--siren);
      }
   }

   #fix-this,
   #ask-this {
      color: var(--siren);
   }

   #dashboard {
      left: 37vw;
      bottom: 1vw;

      span {
         margin-left: 0.5vw;
      }
   }

   #ask-this {
      left: 49.9vw;
      bottom: 1vw;

      span {
         margin-right: 0.5vw;
      }
   }

   #fix-this {
      left: 45vw;
      bottom: 1vw;

      span {
         margin-left: 0.5vw;
      }
   }

   #next-machine {
      left: 54.8vw;
      bottom: 1vw;

      span {
         margin-right: 0.5vw;
      }
   }

   .scaled {
      animation: scale 2s ease infinite;
      animation-iteration-count: 3;

      @keyframes scale {
         0% {
            transform: scale(1);
         }
         15% {
            transform: scale(1.05);
            box-shadow: 0 0 10px 1px #9046ff60;
         }
         30% {
            transform: scale(1);
         }
         100% {
            transform: scale(1);
         }
      }
   }

   .meta-link {
      align-items: center;
      backdrop-filter: blur(3px);
      background-color: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 6px;
      bottom: 10px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.1vw;
      left: 10px;
      padding: 0.6vw 0.75vw;
      position: fixed;
      text-decoration: none;
      transition: background-color 400ms, border-color 400ms;
      z-index: 10000;

      &:hover {
         background-color: rgba(255, 255, 255, 0.1);
         border: 1px solid rgba(255, 255, 255, 0.2);
         color: var(--siren);
      }

      &:hover span {
         color: var(--siren);
      }

      &:hover i {
         color: var(--siren);
      }

      span {
         color: var(--white);
         font-family: 'Inter', sans-serif;
         font-weight: 600;
      }

      i,
      span {
         height: 1vw;
         line-height: 1vw;
      }
   }
}
