body.machine {
   background-color: var(--black);
   color: var(--white);
   font-family: 'Inter';
   height: 100vh;
   margin: 0px;
   overflow: hidden;

   // multiple page

   .image {
      width: 40vmin;
      position: absolute;
      transform: translate(-50%, -50%);

      &[data-status='inactive'] {
         display: none;
      }

      &[data-status='active'] {
         display: block;
      }
   }

   // shift page

   #virus {
      position: fixed;
      width: 20vw;
   }

   .hidden {
      display: none;
   }

   #dashboard,
   #next-machine {
      i {
         color: var(--siren);
      }
   }

   #fix-this,
   #ask-this {
      color: var(--siren);
   }

   #dashboard {
      left: 37vw;
      bottom: 1vw;

      span {
         margin-left: 0.5vw;
      }
   }

   #ask-this {
      left: 49.9vw;
      bottom: 1vw;

      span {
         margin-right: 0.5vw;
      }
   }

   #fix-this {
      left: 45vw;
      bottom: 1vw;

      span {
         margin-left: 0.5vw;
      }
   }

   #next-machine {
      left: 54.8vw;
      bottom: 1vw;

      span {
         margin-right: 0.5vw;
      }
   }

   .meta-link {
      align-items: center;
      backdrop-filter: blur(3px);
      background-color: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 6px;
      bottom: 10px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.1vw;
      left: 10px;
      padding: 0.6vw 0.75vw;
      position: fixed;
      text-decoration: none;
      transition: background-color 400ms, border-color 400ms;
      z-index: 10000;

      &:hover {
         background-color: rgba(255, 255, 255, 0.5);
         border: 1px solid rgba(255, 255, 255, 0.2);
         color: var(--siren);
      }

      &:hover span {
         color: var(--siren);
      }

      &:hover i {
         color: var(--siren);
      }

      span {
         color: var(--white);
         font-family: 'Inter', sans-serif;
         font-weight: 600;
      }

      i,
      span {
         height: 1vw;
         line-height: 1vw;
      }
   }
}
