body.multiple {
   background-color: var(--black);
   color: var(--white);
   font-family: 'Inter';
   height: 100vh;
   margin: 0px;
   overflow: hidden;

   .image {
      width: 40vmin;
      position: absolute;
      transform: translate(-50%, -50%);

      &[data-status='inactive'] {
         display: none;
      }

      &[data-status='active'] {
         display: block;
      }
   }
}
